{{ define "title" }} {{ end }}

{{ define "main" }}
    <h3>App: {{ .app_name }}</h3>
    <h3>Description: {{ .description }}</h3>

    <form id="create-env">
        <input name="app_name" value="{{ .app_name }}" type="hidden" />
        <input name="key" />
        <input name="value" />
        <button type="submit">add</button>
    </form>

    {{ range $env := .env_variables }}
        <div>
            {{ index $env "key" }}: {{ index $env "value" }}
        </div>
    {{ end }}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("create-env").addEventListener("submit", async (e) => {
                e.preventDefault();

                const data = new FormData(e.target);
                const body = new URLSearchParams()

                data.forEach((value, key) => {
                    body.append(key, value)
                })

                await fetch(`/create_env`, {method: "POST", body: body.toString(), credentials: "include", headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }}).then(res => res.json()).then(data => {
                    console.log(data)
                })
            })
        })
    </script>
{{ end }}
